<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>
<style>
    .wrapper sidebar-wrapper{
      height: 100%;
  }
  </style>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Đăng Xuất
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
              <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
              <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                  <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
              </ul>
          </li>
  
          <!-- them san pham -->
          <li>
              <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-users fa-stack-1x "></i></span> Nhân Viên</a>
              <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả nhân viên</a></li>
                  <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-plus fa-stack-1x "></i></span>Thêm nhân viên</a></li>
              </ul>
          </li>
          <li>
              <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a></li>
          <li>
              <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
          </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Thêm nhân viên</h1>
                    <div id="menu1" style=" height:100% ;overflow: auto;">

                        <form class="form-group-sm" action="/admin/add-employee" method="post">
                            <div class="form-group">
                                <label for="name">Họ và tên:</label>
                                <% if (hasErrors){ %>
                                <input type="text" class="form-control"
                                       value="<%= user.name %>" required="required" id="name" name="name">
                                <% }else{ %>
                                <input type="text" class="form-control"
                                       required="required" id="name" name="name">
                                <% } %>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <% if (hasErrors){ %>
                                <input type="email" class="form-control" value="<%= user.email %>" required="required"
                                       id="email" name="email">
                                <% }else{ %>
                                <input type="email" class="form-control" required="required" id="email" name="email">
                                <% } %>
                                <% if(hasErrors){ %>
                                <% messages.forEach(function(item){
                                if(item === "Email is already in use"){
                                %>
                                <label style="color: red;" id="message"><%= item %></label>
                                <% }
                                }) %>

                                <% } %>
                            </div>
                            <div class="form-group">
                                <label for="DOB">Ngày sinh:</label>
                                <% if (hasErrors){ %>
                                <input type="date" class="form-control"
                                       value="<%= new Date(user.dateOfBirth).toISOString().substring(0, 10); %>"
                                       required="required" id="DOB" name="DOB">
                                <% }else{ %>
                                <input type="date" class="form-control" required="required" id="DOB" name="DOB">
                                <% } %>

                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>

                                <input type="password" minlength="6" required="required" class="form-control"
                                       id="password" name="password">

                            </div>
                            <div class="form-group">
                                <label for="number">Số điện thoại:</label>
                                <% if (hasErrors){ %>
                                <input type="text" pattern="0([3|5|7|8|9])+([0-9]{8})"
                                       value="<%= user.contactNumber %>" class="form-control" required="required"
                                       placeholder="e.g. 0XXXXXXXXX" id="number" name="number">
                                <% }else{ %>
                                <input type="text" pattern="0([3|5|7|8|9])+([0-9]{8})"
                                       class="form-control" required="required" placeholder="e.g. 0XXXXXXXXX"
                                       id="number" name="number">
                                <% } %>

                            </div>
                            <div class="form-group">
                                <label for="department">Phòng làm việc:</label>
                                <% if (hasErrors){ %>
                                <select class="form-control" id="department" name="department">
                                    <option value="<%= user.department %>"><%= user.department %></option>
                                    <% if (user.department != "N/A"){ %>
                                    <option value="N/A">N/A</option>
                                    <% } %>
                                    <% if (user.department != "Phòng nhân sự"){ %>
                                    <option value="Phòng nhân sự">Phòng nhân sự</option>
                                    <% } %>
                                    <% if (user.department != "Phòng IT"){ %>
                                    <option value="Phòng IT">Phòng IT</option>
                                    <% } %>
                                    <% if (user.department != "Phòng kế toán"){ %>
                                    <option value="Phòng kế toán">Phòng kế toán</option>
                                    <% } %>
                                    <% if (user.department != "Phòng Marketing"){ %>
                                    <option value="Phòng Marketing">Phòng Marketing</option>
                                    <% } %>
                                    <% if (user.department != "Phòng kinh doanh"){ %>
                                    <option value="Phòng kinh doanh">Phòng kinh doanh</option>
                                    <% } %>
                                </select>

                                <% }else{ %>
                                <select class="form-control" id="department" name="department">
                                    <option value="N/A">N/A</option>
                                    <option value="Phòng nhân sự">Phòng nhân sự</option>
                                    <option value="Phòng IT">Phòng IT</option>
                                    <option value="Phòng kế toán">Phòng kế toán</option>
                                    <option value="Phòng Marketing">Phòng Marketing</option>
                                    <option value="Phòng kinh doanh">Phòng kinh doanh</option>
                                </select>
                                <% } %>

                            </div>
                            <div class="form-group">
                                <label for="skills">Kỹ năng:</label><br>
                                <% if (hasErrors && typeof user.Skills != "undefined"){ %>

                                <select class="selectpicker" id="skills" name="skills[]" multiple>
                                    <%
                                    user.Skills.forEach(function(val){
                                    if(val != ""){ %>
                                    <option selected="selected"><%= val %></option>
                                    <% }
                                    });
                                    %>
                                    <% if (user.Skills.indexOf("Kỹ năng giao tiếp") < 0){ %>
                                    <option>Kỹ năng giao tiếp</option>
                                    <% } %>

                                    <% if (user.Skills.indexOf("Sử dụng vi tính") < 0){ %>
                                    <option>Sử dụng vi tính</option>
                                    <% } %>
                                    <% if (user.Skills.indexOf("Dịch vụ khách hàng") < 0){ %>
                                    <option>Dịch vụ khách hàng</option>
                                    <% } %>
                                    <% if (user.Skills.indexOf("Xử lý vấn đề") < 0){ %>
                                    <option>Xử lý vấn đề</option>
                                    <% } %>
                                    <% if (user.Skills.indexOf("Nghiên cứu và tổng hợp thông tin") < 0){ %>
                                    <option>Nghiên cứu và tổng hợp thông tin</option>
                                    <% } %>
                                    <% if (user.Skills.indexOf("Làm việc nhóm") < 0){ %>
                                    <option>Làm việc nhóm</option>
                                    <% } %>
                                </select>

                                <% }else{ %>

                                <select class="selectpicker" id="skills" name="skills[]" multiple>
                                    <option>N/A</option>
                                    <option>Kỹ năng giao tiếp</option>
                                    <option>Sử dụng vi tính</option>
                                    <option>Dịch vụ khách hàng</option>
                                    <option>Xử lý vấn đề</option>
                                    <option>Nghiên cứu và tổng hợp thông tin</option>
                                    <option>Làm việc nhóm</option>
                                </select>

                                <% } %>

                            </div>
                            <div class="form-group">
                                <label for="designation">Chức vụ:</label>
                                <% if (hasErrors){ %>

                                <select class="form-control" id="designation" name="designation">
                                    <option value="<%= user.designation %>"><%= user.designation %></option>
                                    <% if (user.designation != "N/A"){ %>
                                    <option value="N/A">N/A</option>
                                    <% } %>
                                    <% if (user.designation != "Nhân viên"){ %>
                                    <option value="Nhân viên">Nhân viên</option>
                                    <% } %>
                                    <% if (user.designation != "Project Manager"){ %>
                                    <option value="Project Manager">Project Manager</option>
                                    <% } %>
                                    <% if (user.designation != "Accounts Manager"){ %>
                                    <option value="Accounts Manager">Accounts Manager</option>
                                    <% } %>
                                </select>

                                <% }else{ %>

                                <select class="form-control" id="designation" name="designation">
                                    <option value="N/A">N/A</option>
                                    <option value="Nhân viên">Nhân viên</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="Accounts Manager">Accounts Manager</option>
                                </select>
                                <% } %>
                            </div>
                            
                            <button type="button" onclick="history.go(-1);" class="btn btn-default">Trở lại</button>
                            <button type="submit" class="btn btn-default">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>


<script language="Javascript" type="text/javascript">

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else {
                return true;
            }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123 || charCode === 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>
<script>

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $('#menu3').click();
        var box1height = $('#menu1').height();
        // Set box2 height equal to box1
        $('#sidebar-wrapper').height(1000);
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }

    });
</script>

</body>
</html>