<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Đăng Xuất
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <!-- them san pham -->
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                    <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
                </ul>
            </li>

            <!-- them san pham -->
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-users fa-stack-1x "></i></span> Nhân Viên</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả nhân viên</a></li>
                    <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a></li>
            <!-- <li data-toggle="modal" data-target="#myModal">
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                    Attendance</a>
            </li>
            <li data-toggle="modal" data-target="#myModal2">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
            </li> -->
            <li>
                <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Đơn xin nghỉ phép</h1>
                    <div style="height:717px; overflow: auto">
                        <% if(hasLeave === 1){ %>
                        <table id="example" class="display" cellspacing="0" style="height: 10%; overflow: auto;">
                            <thead>
                            <tr>
                                <th>Người nộp đơn</th>
                                <th>Tiêu đề</th>
                                <th>Loại nghỉ phép</th>
                                <th>Ngày nghĩ phép</th>
                                <th>Số ngày nghỉ</th>
                                <th>Trạng thái</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Người nộp đơn</th>
                                <th>Tiêu đề</th>
                                <th>Loại nghỉ phép</th>
                                <th>Ngày nghĩ phép</th>
                                <th>Số ngày nghỉ</th>
                                <th>Trạng thái</th>
                                <th hidden></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <% for(var i = 0;i < leaves.length;i++){ %>
                            <tr>
                                <td><%= employees[i].name %></td>
                                <td><%= leaves[i].title %></td>
                                <td><%= leaves[i].type %></td>
                                <td><%= moment(leaves[i].appliedDate).format('MMMM Do YYYY') %></td>
                                <td><%= leaves[i].period %></td>
                                <td><%= leaves[i].adminResponse %></td>
                                <td>
                                    <form method="get"
                                          action="/admin/respond-application/<%= leaves[i]._id %>/<%= employees[i]._id %>">
                                        <button type="submit"><i class="fa fa-reply fa-lg" title="Responsd"
                                                                 aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <% }else{ %>
                        <p>Không tìm thấy đơn xin nghỉ nào</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {


        $('#example').dataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }


        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            if (title != " ") {
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            }
        });

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>
</body>
</html>
