<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%=userName%></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"  ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            <li class="navbar-brand"><form action ="/logout" method="get"><button id="logout"  type="submit" style="margin-top: -3px;"  class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> Đăng Xuất</button></form></li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
              <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
              <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                  <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
              </ul>
          </li>
  
          <!-- them san pham -->
          <li>
              <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-users fa-stack-1x "></i></span> Nhân Viên</a>
              <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả nhân viên</a></li>
                  <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                      class="fa fa-plus fa-stack-1x "></i></span>Thêm nhân viên</a></li>
              </ul>
          </li>
            <li>
            <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-male fa-stack-1x "></i></span> Khách Hàng</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/view-all-customer"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả khách hàng</a></li>
                <li><a href="/admin/add-customer"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-plus fa-stack-1x "></i></span>Thêm khách hàng</a></li>
            </ul>
        </li>
          <li>
              <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a></li>
          <li>
              <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
          </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div id="menu1" style="height:717px">
                    <h1>Application's Details</h1>
                    <br>
                    <form class="form-group-sm" action="/admin/respond-application" method="post">
                        <h4>Tiêu đề : <label id="title"><%=leave.title%></label></h4>
                        <h4>Loại nghỉ phép : <label id="type"><%=leave.type%></label></h4>
                        <h4>Họ và tên : <label id="name"><%=employee.name%></label></h4>
                        <h4>Email: <label id="email"><%=employee.email%></label></h4>
                        <h4>Số ngày nghỉ: <label id="period"><%=leave.period%></label></h4>
                        <h4>Thời gian bắt đầu : <label id="start"><%=moment(leave.startDate).format('MMMM Do YYYY')%></label></h4>
                        <h4>Thời gian kết thúc : <label id="end"><%=moment(leave.end_date).format('MMMM Do YYYY')%></label></h4>
                        <h4>Ngày nộp đơn : <label id="end"><%=moment(leave.end_date).format('MMMM Do YYYY')%></label></h4>
                        <h4 style="font-size: x-large">Lý do:</h4>
                       <div style="height: 100%; overflow: auto;">
                        <p style="font-family: 'Arial Nova'; font-size: medium" id="reason" style="word-wrap:break-word"><%=leave.reason%></p>
                       </div>
                        <div class="form-group">
                            <label for="status"><h4 style="font-size: x-large">Status:</h4></label>
                            <select class="form-control" id="status" name="status">
                                <option value="<%=leave.adminResponse%>"><%=leave.adminResponse%></option>
                                <% if(leave.adminResponse!="Chưa giải quyết"){%>
                                <option value="Chưa giải quyết">Chưa giải quyết</option>
                                <%}%>
                                <% if(leave.adminResponse!="Đã được phê duyệt"){%>
                                <option value="Đã được phê duyệt">Đã được phê duyệt</option>
                                <%}%>
                                <% if(leave.adminResponse!="Bị từ chối"){%>
                                <option value="Bị từ chối">Bị từ chối</option>
                                <%}%>

                            </select>
                        </div>
                       
                        <input type="hidden" id="leave_id" name="leave_id" value="<%=leave._id%>">
                        <button type="button" onclick="history.go(-1);" class="btn btn-default">Trở lại</button>
                        <button type="submit"  class="btn btn-default">Thay đổi trạng thái</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>

</body>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn phê duyệt đơn này.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            </div>
        </div>

    </div>
</div>


</html>
