<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
        </style>
</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                    <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> Xem đơn xin nghỉ</a>
            </li>
            <li>
                <a href="/admin/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span>Tạo đơn xin nghỉ</a>
            </li>
            <li>
                <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div id="menu1" style="height:auto;">
                        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Chi tiết dự án</h2>
                       
                        <table class="table">
                            <thead class="table table-hover table-dark">
                              <tr class="info">
                                <th scope="col">Giá</th>
                                <th scope="col">Số nhà</th>
                                <th scope="col">Đường</th>
                                <th scope="col">Quận</th>
                                <th scope="col">Phường</th>
                                <th scope="col">Diện tích</th>
                                <th scope="col">Cấu trúc</th>
                                <th scope="col">Vị trí</th>
                                <th scope="col">Chủ sở hữu</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Liên hệ</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= bdss.gia %></td>
                                <td><%= bdss.sonha %></td>
                                <td><%= bdss.duong %></td>
                                <td><%= bdss.quan %></td>
                                <td><%= bdss.phuong %></td>
                                <td><%= bdss.dientich %> m²</td>
                                <td><%= bdss.cautruc %></td>
                                <td><%= bdss.vitri %></td>
                                <td><%= bdss.chusohuu %></td>
                                <td><%= bdss.trangthai %></td>
                                <td><%= bdss.lienhe %></td>
                                
                                
                                    
                              </tr>
                            
                            </tbody>
                          </table>
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <%if (bdss.multiple_image.length > 1) { %>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >2) { %>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >3) { %>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >4) { %>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >5) { %>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >6) { %>
                                <li data-target="#myCarousel" data-slide-to="6"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >7) { %>
                                <li data-target="#myCarousel" data-slide-to="7"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >8) { %>
                                <li data-target="#myCarousel" data-slide-to="8"></li>
                              <% } %>
                              <%if (bdss.multiple_image.length >9) { %>
                                <li data-target="#myCarousel" data-slide-to="9"></li>
                              <% } %>
                            </ol>
                            
                            <div class="carousel-inner">
                              <%if (bdss.multiple_image.length >= 0) { %>
                                <div class="item active">
                                  <img src="<%= bdss.multiple_image[0] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length > 1) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[1] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length > 2) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[2] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >3) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[3] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >4) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[4] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >5) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[5] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >6) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[6] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >7) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[7] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >8) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[8] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                              <%if (bdss.multiple_image.length >9) { %>
                                <div class="item item">
                                  <img src="<%= bdss.multiple_image[9] %>" class="img-rounded" alt="Cinque Terre">
                                </div>
                              <% } %>
                            </div>
                          
                           
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var box1height = $('#menu1').height();
        // Set box2 height equal to box1
        $('#sidebar-wrapper').height(box1height * 1.2);
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }

    });
</script>

</body>
</html>