<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Đăng Xuất
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <!-- them san pham -->
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                    <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
                </ul>
            </li>

            <!-- them san pham -->
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-users fa-stack-1x "></i></span> Nhân Viên</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả nhân viên</a></li>
                    <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a></li>
            <!-- <li data-toggle="modal" data-target="#myModal">
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                    Attendance</a>
            </li>
            <li data-toggle="modal" data-target="#myModal2">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
            </li> -->
            <li>
                <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Chi tiết dự án</h1>
                    <div id="menu1" style="height:717px;overflow: auto;">
                        <form action="/admin/edit-employee-project/<%= project._id %>" id="form1" method="post">
                            <div class="form-group">
                                <label for="title">Tiêu đề:</label>
                                <input type="text" required="required" class="form-control" id="title" name="title"
                                       value="<%= project.title %>">
                            </div>
                            <div class="form-group">
                                <label for="type">Loại:</label>
                                <input type="text" required="required" class="form-control" id="type" name="type"
                                       value="<%= project.type %>">
                            </div>
                            <div class="form-group">
                                <label for="status">Trạng thái:</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="<%= project.status %>"><%= project.status %></option>
                                    <% if(project.status != "Ongoing"){ %>
                                    <option value="Ongoing">Đang tiến hành</option>
                                    <% } %>
                                    <% if(project.status != "Finished"){ %>
                                    <option value="Finished">Đã hoàn thành</option>
                                    <% } %>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="start">Ngày bắt đầu:</label>
                                <input type="date" required="required"
                                       value="<%= new Date(project.startDate).toISOString().substring(0, 10); %>"
                                       class="form-control" id="start" name="start_date">
                                <label id="error" style="color:red;"></label>
                            </div>
                            <div class="form-group">
                                <label for="end">Ngày kết thúc:</label>
                                <input type="date" required="required"
                                       value="<%= new Date(project.endDate).toISOString().substring(0, 10); %>"
                                       class="form-control" id="end" name="end_date">
                            </div>
                            <div class="form-group">
                                <label for="description">Ghi chú:</label>
                                <textarea required="required" class="form-control"
                                          style="resize: none; word-wrap: break-word " id="description"
                                          name="description" rows="5"
                                          cols="60"><%= project.description %></textarea></p>
                            </div>
                            
                            <button type="button" onclick="history.go(-1);" ; class="btn btn-default">Trở về</button>
                            <button type="submit" class="btn btn-default">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#form1').on('submit', function () {
            var startDate = new Date($('#start').val());
            var endDate = new Date($('#end').val());
            if (startDate > endDate) {
                $('#error').text("    Start Date must be smaller than End Date!")
                return false;
            }
            return true;
        });
    });
</script>
<script>
    $(document).ready(function () {
        var box1height = $('#menu1').height();
        // Set box2 height equal to box1
        $('#sidebar-wrapper').height(box1height * 1.22);
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }

    });
</script>
</body>


</html>