<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/> -->

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Đăng Xuất
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <!-- them san pham -->
            <li>
                <a href="#" id="menu4"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                    <li><a href="/admin/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
                </ul>
            </li>

            <!-- them san pham -->
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-users fa-stack-1x "></i></span> Nhân Viên</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả nhân viên</a></li>
                    <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span> Đơn xin nghỉ phép</a></li>
            <!-- <li data-toggle="modal" data-target="#myModal">
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                    Attendance</a>
            </li>
            <li data-toggle="modal" data-target="#myModal2">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
            </li> -->
            <li>
                <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Tất cả dự án</h1>
                    <div style="height:100%; overflow: auto">
                        <table id="example" class="display" cellspacing="0" style="height: 10%; overflow: auto;">
                            <thead>
                            <tr>
                                <th>Giá</th>
                                <th>Số nhà</th>
                                <th>Đường</th>
                                <th>Phường</th>
                                <th>Quận</th>
                                <th>Diện tích</th>
                                <th>Cấu trúc</th>
                                <th>Vị trí</th>
                                <th>Chủ sở hửu</th>
                                <th>Trạng thái</th>
                                <th>Liên hệ</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Giá</th>
                                <th>Số nhà</th>
                                <th>Đường</th>
                                <th>Phường</th>
                                <th>Quận</th>
                                <th>Diện tích</th>
                                <th>Cấu trúc</th>
                                <th>Vị trí</th>
                                <th>Chủ sở hửu</th>
                                <th>Trạng thái</th>
                                <th>Liên hệ</th>
                                <th hidden></th>
                                <th hidden></th>
                                <th hidden></th>
                            </tr>
                            </tfoot>
                            <tbody>
                                <% bdss.forEach(function(item){ %>

                                    <tr>
                                        <td><%= item.gia %></td>
                                        <td><%= item.sonha %></td>
                                    <td><%= item.duong %></td>
                                    <td><% if(!item.phuong){%>
                                        <!-- <%="N/A"%> -->
                                        <%
                                        }
                                        else{%>
                                        <%=item.phuong%>
                                        <%}%></td>
                                        <td><% if(!item.quan){%>
                                            <!-- <%="N/A"%> -->
                                            <%
                                            }
                                            else{%>
                                            <%=item.quan%>
                                            <%}%></td>
                                       
                                        <td><%= item.dientich %> m²</td>
                                        <td><%= item.cautruc %></td>
                                        <td><% if(!item.vitri){%>
                                            <!-- <%="N/A"%> -->
                                            <%
                                            }
                                            else{%>
                                            <%=item.vitri%>
                                            <%}%></td>
                                        <td><%= item.chusohuu %></td>
                                        <td><% if(!item.trangthai){%>
                                                <!-- <%="N/A"%> -->
                                                <%
                                                }
                                                else{%>
                                                <%=item.trangthai%>
                                                <%}%></td>
                                            
                                        <td><%= item.lienhe %></td>
                                            
                                            <!-- nut -->
                                       
                                                
                                                <td style="padding: 0%;">
                                                    <form method="get" action="/admin/bds-profile/<%= item._id %>">
                                                        <button type="submit"><i class="fa fa-eye"
                                                                                     title="Xem dự án"
                                                                                     aria-hidden="true"></i></button>
                                                    </form>
                                                </td>
                                                    <td style="padding: 0%; ">
                                                        <form method="get" action="/admin/edit-bds/<%= item._id %>">
                                                            <button type="submit"><i class="fa fa-pencil-square "
                                                                                     title="Sửa dự án"
                                                                                     aria-hidden="true"></i></button>
                                                        </form>
                                                    </td>
                                                    <td style="padding: 0%;">
                                                        <button data-toggle="modal" class="delete-button" id="<%= item._id %>"
                                                                data-target="#myModal1"><i class="fa fa-trash "
                                                                                           title="Xóa dự án"
                                                                                           aria-hidden="true"></i></button>
                                                    </td>
                                              
                                           
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>



<script>
    var bdsId;
    $(document).ready(function () {
        $("#example").on('click', '.deletemp', function () {
            $('#name').text($(this).parents().closest('tr').find('td:eq(0)').text());
            
            $('#email').text($(this).parents().closest('tr').find('td:eq(1)').text());
        });

        $(document).on("click", ".delete-button", function () {
            bdsId = (this.id);
            document.getElementById("modal-delete-form").action = "/admin/delete-bds/" + bdsId;

        });

        $('#example').dataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });
    });
</script>
<script>

    $(document).ready(function () {

        $('#menu4').click();
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            if (title != " ") {
                $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
            }
        });
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>
</body>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="modal-delete-form" method="post" action="">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Xóa dự án</h2>
                    <!--<h3 class="modal-title"><label id="name"></label></h3>
                    <h4 class="modal-title"><label id="email"></label></h4>-->
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xóa dự án này không ?</p>
                </div>
                <div class="modal-footer">

                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-default">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>