<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i> <%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-default"><i
                                class="fa fa-user" aria-hidden="true"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-home fa-stack-1x "></i></span> Dự Án</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/employee/view-all-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>Xem tất cả dự án</a></li>
                    <li><a href="/employee/add-bds"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Thêm dự án</a></li>
                </ul>
            </li>

            <li>
                <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> Xem đơn xin nghỉ</a>
            </li>
            <li>
                <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span>Tạo đơn xin nghỉ</a>
            </li>
            <!-- <li data-toggle="modal" data-target="#myModal">
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>View
                    Attendance</a>
            </li>
            <li data-toggle="modal" data-target="#myModal2">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Mark Attendance</a>
            </li> -->
            <li>
                <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>Trang cá nhân</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Thêm dự án</h1>
                    <div id="menu2" style=" height:717px ;overflow: auto;">

                        <form class="form-group-sm" action="/employee/add-bds" method="post">
                            <div class="form-group">
                                <label for="gia">Giá:</label>
                                <input type="text" required="required" class="form-control" id="gia" name="gia">
                            </div>
                            <div class="form-group">
                                <label for="sonha">Số nhà:</label>
                                <input type="text" required="required" class="form-control" id="sonha" name="sonha">
                            </div>
                            <div class="form-group">
                                <label for="duong">Đường:</label>
                                <input type="text" required="required" class="form-control" id="duong" name="duong">
                            </div>
                          
                           
                            <div class="form-group">
                                <label for="phuong">Phường:</label>
                                <select class="form-control" id="phuong" name="phuong">
                                    <option value="Phường 1">Phường 1</option>
                                    <option value="Phường 2">Phường 2</option>
                                </select>
                            </div>
                           
                            <div class="form-group">
                                <label for="quan">Quận:</label>
                                <select class="form-control" id="quan" name="quan">
                                    <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option>
                                </select>
                            </div>
            
                            <div class="form-group">
                                <label for="dientich">Diện Tích:</label>
                                <input type="text" required="required" class="form-control" id="dientich" name="dientich">
                            </div>
                           
                            <div class="form-group">
                                <label for="cautruc">Cấu trúc:</label>
                                <input type="text" required="required" class="form-control" id="cautruc" name="cautruc">
                            </div>

                            <div class="form-group">
                                <label for="vitri">Vị trí:</label>
                                <select class="form-control" id="vitri" name="vitri">
                                    <option value="Mặt tiền">Mặt tiền</option>
                                    <option value="Hẻm xe hơi">Hẻm xe hơi</option>
                                    <option value="Hẻm ba gác">Hẻm ba gác</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="chusohuu">Chủ sở hửu:</label>
                                <input type="text" required="required" class="form-control" id="chusohuu" name="chusohuu">
                            </div>

                        
                            <div class="form-group">
                                <label for="trangthai">Trạng thái:</label>
                                <select class="form-control" id="trangthai" name="trangthai">
                                    <option value="Đang Giao Dịch">Đang Giao Dịch</option>
                                    <option value="Đã bán">Đã bán</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="lienhe">Liên hệ:</label>
                                <input type="text" required="required" class="form-control" id="lienhe" name="lienhe">
                            </div>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" onclick="history.go(-1);" class="btn btn-default">Trở lại</button>
                            <button type="submit" class="btn btn-default">Thêm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script language="Javascript" type="text/javascript">

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else {
                return true;
            }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123 || charCode === 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $('#menu4').click();
        var box1height = $('#menu2').height();
        // Set box2 height equal to box1
        $('#sidebar-wrapper').height(box1height * 1.2);
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
    });
</script>

</body>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="post" action="/employee/mark-attendance">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mark Attendance</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark attendance.</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-default">Yes</button>
                </div>

            </div>
        </form>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" action="/employee/view-attendance">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Month/Year</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Month">Month:</label>
                        <select class="form-control" id="month" name="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <select class="form-control" id="year" name="year">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">View</button>
                </div>
            </form>
        </div>

    </div>
</div>
</html>